#my-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 5%;
  gap: 50px;
}

.my-projects-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.my-projects-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #abb2bf;
}

.my-projects-figure {
  width: 100%;
}

.my-projects-figure > img {
  width: 100%;
  border-bottom: 1px solid #abb2bf;
}

.my-projects-card-texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.my-projects-text-1 :nth-child(1) {
  font-weight: 500;
  font-size: 24px;
  line-height: 134%;
}

.my-projects-text-1 :nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 121%;
  color: #abb2bf;
}

.my-projects-link {
  width: 50%;
  height: 35px;
  background: none;
  border: 1px solid #c778dd;

  font-weight: 500;
  font-size: 18px;
  line-height: 121%;
  transition: 0.2s ease-in-out;
}

.my-projects-link:hover {
  background-color: #c778dd;
}
